.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-7.984681px;}
._3{margin-left:-5.765329px;}
._4{margin-left:-3.984993px;}
._0{margin-left:-2.650372px;}
._1{width:259.114101px;}
.fc2{color:rgb(227,44,45);}
.fc1{color:rgb(13,47,66);}
.fc3{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:48.000000px;}
.fs0{font-size:72.028802px;}
.y0{bottom:0.000000px;}
.yc{bottom:20.401000px;}
.y6{bottom:131.957869px;}
.y9{bottom:156.343370px;}
.y7{bottom:175.101470px;}
.y8{bottom:193.109171px;}
.yb{bottom:326.333375px;}
.y1{bottom:450.907879px;}
.ya{bottom:537.403482px;}
.y2{bottom:693.825087px;}
.y5{bottom:718.210588px;}
.y3{bottom:736.968688px;}
.y4{bottom:754.976489px;}
.h3{height:33.328125px;}
.h2{height:50.012186px;}
.h1{height:850.000000px;}
.h0{height:850.079960px;}
.w0{width:1159.919920px;}
.w1{width:1160.000000px;}
.x0{left:0.000000px;}
.x1{left:88.280203px;}
.x5{left:326.807510px;}
.x2{left:342.647711px;}
.x6{left:516.639417px;}
.x3{left:532.479517px;}
.x7{left:767.997725px;}
.x4{left:783.837925px;}
.xa{left:952.187000px;}
.x8{left:1005.141632px;}
.x9{left:1009.310032px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-10.646241pt;}
._3{margin-left:-7.687106pt;}
._4{margin-left:-5.313325pt;}
._0{margin-left:-3.533829pt;}
._1{width:345.485467pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:96.038403pt;}
.y0{bottom:0.000000pt;}
.yc{bottom:27.201333pt;}
.y6{bottom:175.943825pt;}
.y9{bottom:208.457826pt;}
.y7{bottom:233.468627pt;}
.y8{bottom:257.478894pt;}
.yb{bottom:435.111167pt;}
.y1{bottom:601.210505pt;}
.ya{bottom:716.537976pt;}
.y2{bottom:925.100116pt;}
.y5{bottom:957.614117pt;}
.y3{bottom:982.624918pt;}
.y4{bottom:1006.635318pt;}
.h3{height:44.437500pt;}
.h2{height:66.682915pt;}
.h1{height:1133.333333pt;}
.h0{height:1133.439947pt;}
.w0{width:1546.559893pt;}
.w1{width:1546.666667pt;}
.x0{left:0.000000pt;}
.x1{left:117.706937pt;}
.x5{left:435.743347pt;}
.x2{left:456.863615pt;}
.x6{left:688.852555pt;}
.x3{left:709.972689pt;}
.x7{left:1023.996966pt;}
.x4{left:1045.117233pt;}
.xa{left:1269.582667pt;}
.x8{left:1340.188843pt;}
.x9{left:1345.746710pt;}
}
